* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  font-family: sans-serif;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/*************** GENERAL RULES  ***************/

.content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: black;
}

span {
  display: inline-block;
  color: grey;
  font-weight: bold;
  margin-top: 8px;
}

.title {
  padding: 0 10px;
  font-weight: 400;
  margin-top: 20px;
}

.clearfix::after {
  display: table;
  content: '';
  clear: both;
}
/**************** MAIN RULES  *******************/

main {
  overflow: auto;
  display: flex;
  flex-grow: 1;
}

/* Header rules  */

.wrapper {
  overflow-y: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.header {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 0;
  top: 0;
  flex-shrink: 0;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.header .button {
  margin-right: 10px;
  font-size: 18px;
  border: 1px solid white;
  border-radius: 20px;
  display: inline-block;
  padding: 10px 30px;
}

/* Principal Main  */

.player {
  margin-top: 80px;
  background-color: black;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
#category {
  height: 120px;
  display: flex;
  justify-content: space-around;
}

#category ul {
  padding: 10px 10px;
  list-style-type: none;
  font-size: 13px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-around;
}

#category ul a {
  text-decoration: none;
  color: grey;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 900;
}


/* Card  */

.card {
  padding: 10px 0;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.card-album {
  text-align: center;
  width: 250px;
  height: 350px;
  margin: 5px;
}
.card-album img {
  margin-bottom: 10px;
  width: 250px;
}

.title span {
  margin-bottom: 20px;
}

/**************** SIDEBAR RULES  ******************/

.sidebar {
  z-index: 1;
  flex-shrink: 0;
  flex-basis: 35px;
  display: flex;
  justify-content: center;
}
nav {
  width: 35px;
}
.position-items {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navigation {
  padding-top: 10px;
}
.user img,
.navigation img {
  filter: invert(0);
  margin: 5px 0;
  width: 25px;
}
.navigation img:first-child {
  filter: invert(1);
}
.user {
  justify-content: flex-end;
  padding-bottom: 10px;
}
.user img:first-child {
  width: 20px;
}

#profile {
  background-color: rgb(149, 150, 150);
  border-radius: 50%;
}

/**************** FOOTER RULES  ******************/

footer {
  flex-shrink: 0;
  flex-basis: 80px;
  background-color: rgb(56, 56, 56);
}

.split {
  float: left;
  width: 33.3%;
  border: 1px solid white;
  height: 100%;
}
.song {
  padding: 10px;
  display: flex;
  align-items: center;
}
.song img {
  width: 20%;
}
.soundtrack {
  margin-left: 10px;
  font-size: 13px;
}
.soundtrack span {
  margin-top: 0;
  font-size: 11px;
}