* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
   color: white;
   font-family: sans-serif;
}

/*************** GENERAL RULES  ***************/

.content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: black;
}


/**************** MAIN RULES  *******************/

main {
  overflow-y: auto;
  display: flex;
  border: 1px solid white;
  flex-grow: 1;
}

/* Header rules  */

header {
  border: 1px solid white;
  flex-basis: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  
}
header .button{
   font-size: 18px;
   border: 1px solid white;
   border-radius: 20px;
   display: inline-block;
   padding: 10px 30px;
}


/**************** SIDEBAR RULES  ******************/

.sidebar {
  width: 80px;
  border: 1px solid white;
}
.selection-player {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border: 1px solid white;
}


/**************** FOOTER RULES  ******************/

footer {
  border: 1px solid white;
  flex-basis: 150px;
}
