* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  font-family: sans-serif;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/*************** GENERAL RULES  ***************/

.content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: black;
}

span {
  display: inline-block;
  color: grey;
  font-weight: bold;
}

.title {
  font-weight: 400;
  padding: 20px 10px;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}
/**************** MAIN RULES  *******************/

main {
  overflow: auto;
  display: flex;
  flex-grow: 1;
}

/* Header rules  */

.wrapper {
  overflow-y: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.header {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 0;
  top: 0;
  flex-shrink: 0;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.header .button {
  cursor: pointer;
  margin-right: 20px;
  font-size: 18px;
  border: 1px solid white;
  border-radius: 20px;
  display: inline-block;
  padding: 10px 30px;
}
.header:hover .button {
  transform: scale(1.1);
}

/* Principal Main  */

.player {
  margin-top: 80px;
  background-color: black;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: rgb(40, 43, 53);
}
#category {
  height: 120px;
  display: flex;
  justify-content: space-around;
}

#category ul {
  padding: 10px 10px;
  list-style-type: none;
  font-size: 13px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-around;
}
#category ul a {
  text-decoration: none;
  color: grey;
  cursor: pointer;
  font-weight: 900;
  padding: 5px 20px;
}
#category a:hover {
  cursor: pointer;
  color: white;
}
#category li {
  padding: 5px 0;
  position: relative;
}
#category li:first-child::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 35px;
  background-color: rgb(166, 212, 166);
}
/************** CARD RULES  ************/

.card {
  padding: 10px 0;
  flex-grow: 1;
  display: flex;
  padding: 0 -10px;
  flex-wrap: wrap;
}
.card-album {
  text-align: center;
  max-width: 50%;
  padding: 5px 10px;
}
.card-album span {
  margin-top: 8px;
}
.card-album img {
  margin-bottom: 10px;
  max-width: 100%;
}
.card-album span {
  font-size: 15px;
}
.title span {
  margin-bottom: 20px;
}
.brightness {
  position: relative;
  cursor: pointer;
}
.fa-play-circle {
  z-index: 2;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: white;
}
.brightness:hover .fa-play-circle {
  display: block;
  color: white;
}
.brightness:hover img {
  filter: brightness(0.6);
}

/**************** SIDEBAR RULES  ******************/

.sidebar {
  z-index: 1;
  flex-shrink: 0;
  flex-basis: 35px;
  display: flex;
  justify-content: center;
}
nav {
  width: 35px;
}
.position-items {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navigation {
  padding-top: 10px;
}
.user img,
.navigation img {
  filter: invert(0);
  margin: 5px 0;
  width: 25px;
}
.user .btn-sidebar:last-child h5 {
  color: white;
}

.user h5,
.navigation h5 {
  color: grey;
  display: none;
}
.user h5,
.navigation h5:hover {
  cursor: pointer;
  color: white;
}
.logo-spotify {
  width: 100%;
  display: none;
}

.logo-spotify img {
  width: 120px;
}

.user {
  justify-content: flex-end;
  padding-bottom: 10px;
}
.user img:first-child {
  width: 20px;
}

#profile {
  background-color: rgb(149, 150, 150);
  border-radius: 50%;
}

.riga {
  display: none;
  margin: 5px 0;
  height: 2px;
  width: 100%;
  background-color: grey;
}

.playlist ul {
  list-style-type: none;
}
.playlist li {
  font-size: 15px;
  padding: 10px 0;
}
.playlist li:hover {
  color: white;
  cursor: pointer;
}
.playlist li:hover span {
  background-color: white;
}
.playlist {
  display: none;
  width: 100%;
  color: grey;
  padding-top: 15px;
}
.playlist h5 {
  margin-top: 10px;
  color: white;
}

#plus {
  display: inline-block;
  display: none;
  height: 40px;
  width: 40px;
  background-color: rgb(189, 185, 185);
}
#plus span {
  color: black;
  font-size: 25px;
  width: 40px;
  margin-top: 0;
  text-align: center;
  line-height: 40px;
}

/**************** FOOTER RULES  ******************/

footer {
  flex-shrink: 0;
  flex-basis: 80px;
  background-color: rgb(56, 56, 56);
}

.split {
  float: left;
  width: 33.3%;

  height: 100%;
}
.song {
  padding: 10px;
  display: flex;
  align-items: center;
}
.song img {
  width: 20%;
}
.soundtrack {
  margin-left: 10px;
  font-size: 14px;
}
.soundtrack span {
  margin-top: 0;
  font-size: 11px;
}
.favourits {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  color: grey;
}
.favourits i:first-child {
  margin-bottom: 5px;
}

.music-player {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.position-e {
  flex-basis: 50%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 60%;
}

.time-line {
  flex-basis: 50%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  font-size: 13px;
  width: 100%;
}
.hour {
  display: flex;
  justify-content: center;
  flex-basis: 20%;
  flex-shrink: 0;
}

.time {
  display: flex;
  align-items: center;
  flex-grow: 1;
  height: 100%;
}
.time span {
  margin-top: 0;
  background-color: rgb(163, 160, 160);
  height: 5px;
  width: 100%;
  border-radius: 2px;
}

.time-line-control {
  position: relative;
  height: 5px;
  width: 30%;
  background-color: white;
  border-radius: 2px;
}

.option-player {
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.option-player .time {
  flex-grow: 0;
  width: 30%;
}
.option-player i {
  padding: 0 10px;
}
footer i {
  cursor: pointer;
}
.time:hover .time-line-control {
  cursor: pointer;
  background-color: yellowgreen;
}
 .time-line-control:hover .circle{
   position: absolute;
   right: 0;
   bottom: 0;
   transform: translateY(35%);
  height: 15px;
  width: 15px;
  background-color: white;
  border-radius: 50%;
  
}

/******************* MEDIA QUERY  ********************/

@media screen and (min-width: 576px) {
  .sidebar {
    padding: 0 10px;
    flex-basis: 200px;
    justify-content: flex-start;
    display: flex;
  }
  nav {
    flex-basis: 100%;
  }
  .btn-sidebar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .btn-sidebar-logo {
    display: none;
  }
  .logo-spotify {
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-start;
  }
  .playlist {
    display: block;
  }
  .navigation h5,
  .user h5 {
    display: flex;
    padding-left: 3px;
  }
  .riga {
    display: block;
  }
  #plus {
    display: inline-block;
  }
}

@media screen and (min-width: 768px) {
  .card-album {
    width: 25%;
  }
}

@media screen and (min-width: 970px) {
  .card-album {
    width: calc(100% / 6);
  }
}
